<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-adjust"></span>
        SCL 2018
      </a>

      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% if (user && user.admin) { %>
        <li><a href="/assign">Assign</a></li>
        <li><a href="/players">Players</a></li>
        <% } %>
      </ul>
    </div>

  </div>
</nav>