<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>

  <div class="container">

    <div class="row">
      <% if (user.admin) { %>
      <% include ./partials/admin-profile %>
      <% } else { %>
      <% include ./partials/owner-profile %>
      <% } %>
    </div>

  </div>

  <footer>
    <% include ./partials/footer %>
  </footer>
</body>
</html>